<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
	<div class="container">
		<div class="page-header-content pt-4">
			<div class="row align-items-center justify-content-between">
					<div class="col-auto mt-4 align-self-center">
							<h1 class="page-header-title">
									My Beneficiaries
							</h1>
					</div>
			</div>
		</div>
	</div>
</header>

<!-- Main page content-->
<div class="container mt-n10">
	<div class="card h-100">
		<div class="card-header">
				<ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist" (click)="onAddBeneficiary()">
					<li class="nav-item" id="add">
						<a class="nav-link active" id="overview-pill"
							data-toggle="tab" role="tab" aria-controls="overview"
							aria-selected="true">Add Beneficiary</a>
					</li>
				</ul>
		</div>
		<div class="card-body">
			<div class="tab-content" id="cardPillContent">
				<div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">

					<!-- Item 1-->
					<div *ngFor="let beneficiary of beneficiaries; index as i" class="d-flex align-items-center justify-content-between mb-4">
						<div class="d-flex align-items-center flex-shrink-0 mr-3">
								<div class="avatar avatar-xl mr-3 bg-gray-200">
									<img 
										class="avatar-img img-fluid" 
										src="assets/img/freepik/profiles/profile-1.png" alt />
								</div>
								<div class="d-flex flex-column font-weight-bold">
									<a class="text-dark line-height-normal mb-1" href="#!">@{{beneficiary.handle}} ({{beneficiary.name}})</a>
									<div class="small text-muted line-height-normal">{{beneficiary.bank}} | {{beneficiary.accountNumber}}</div>
								</div>
						</div>
						<div class="dropdown no-caret">
							<button class="btn btn-transparent-dark btn-icon dropdown-toggle"
								id="dropdownPeople1" type="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<mat-icon>more_vert</mat-icon>
							</button>
							<div class="dropdown-menu dropdown-menu-right animated--fade-in-up"
								aria-labelledby="dropdownPeople1">
								<a class="dropdown-item" href="pay.html">Send Cash</a>
								<a class="dropdown-item" href="#!">Transaction history</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		



